.bg-none {
  background-image: none;
}

.background {
    background-color: #ffffff;
  }
  
  
  .text-black {
    color: #000000;
  }
  
  .text {
    font-family: "Trebuchet MS", Verdana, sans-serif;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100px;
  }
  
  .img {
    height: 170px;
    width: 170px;
  }
  
  .text-blueviolet {
    color: blueviolet;
  }
  
  .list-none {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }
  
  .flex {
    flex: auto;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .height {
    height: 170px;
  }