.bg-none {

  background-image: none;
}

.bg-gray {
    background-color: #C0C0C0;
  }
  
  .text-align{
    text-align: center;
  }
  
  .text-black {
    color: #000000;
  }

  .no-underline {
    text-decoration: none;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  
  .img {
    flex-basis: 40%;
    height: 200px;
    width: 700px;
  }
  
  .text-blueviolet {
    color: blueviolet;
  }

  .list-none { 
    list-style-type: none;
    }
  
.justify-around {
  justify-content: space-around;
}

  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .height {
    height: 170px;
  }
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}